{% extends 'keyTracker/components/main.html' %}
{% block body %}
<h1>sign up</h1>
<h2>COPY OF REGISTER</h2>
<div>
    <p>
        {% if user.is_authenticated %}
        You are logged in as <strong>{{ user.username }}</strong>.
        {% else %}
        You are not logged in.
        {% endif %}
    </p>
</div>

<form method="POST">
    {% csrf_token %}
    {{form}}
    <br>
    <button type="submit" class="bg-maingreen hover:bg-accentgreen drop-shadow-md font-bold py-2 px-6  rounded w-max">Sign Up</button>
</form>
<br>
If you already have an account <a href="{% url 'login' %}" target="blank"><strong class="underline text-brownsugar">login</strong></a> instead.
{% endblock body %}