{% extends 'keyTracker/components/main.html' %}

{% block body %}
{% include 'keyTracker/components/nav.html' with link="homepage"%}
<div>
    {% if pending_users %}
        <div>
            <h2 class="font-bold">New requests</h2>
            <div class="grid grid-cols-2">
            {% for pending_user in pending_users %}
                <div>
                    {{pending_user.username}}
                </div>
                <div>
                    <form method="POST" action="{% url 'keyTracker:review_application' %}">
                        {% csrf_token %}
                        <input type="hidden" name="pending_user" value="{{pending_user}}">
                        <input type="submit" name="verdict" value="accept" class="underline"> | 
                        <input type="submit" name="verdict" value="deny" class="underline">
                    </form>
                </div>
            {% endfor %}
        </div>
    {% endif %} 
</div>
<div>
    <div>
        <h2 class="font-bold">Current users</h2>
        <div class="grid grid-cols-2">
        {% for current_user in current_users %}
            <div>
                {{current_user.username}}
            </div>
            <div>
                <form method="POST" action="{% url 'keyTracker:remove_user' %}">
                    {% csrf_token %}
                    <input type="hidden" name="current_user" value="{{current_user}}">
                    <input type="submit" name="remove_btn" value="remove" class="underline">
                </form>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
