{% extends 'keyTracker/components/main.html' %}

{% block body %}
{% include 'keyTracker/components/nav.html' with link="homepage"%}
<ul>
    <li>
        list of current users with delete buttons
    </li>
    <li>
        list of new applications with accept and reject buttons
    </li>
</ul>
<br>
<div>

    {% comment %} IF NEW REQUESTS {% endcomment %}
    <div>
    <h2 class="font-bold">New requests</h2>
    <div class="grid grid-cols-2">
        {% for pendingUser in pendingUsers %}
        <div>
            {{pendingUser.username}}
        </div>
        <div>
            accept / 
            reject
        </div>
        {% endfor %}
    </div>
    
    
</div>
<div>
    <h2 class="font-bold">Current Users</h2>
    <div class="grid">
            {% for activeUser in activeUsers %}
            <div>
                {{activeUser.username}}
            </div>
            {% endfor %}
        </div>
</div>

{% endblock %}
