{% extends 'keyTracker/components/main.html' %}

{% block body %}
{% include 'keyTracker/components/nav.html' with link="homepage"%}
<div class="flex flex-col place-items-center">

<div class="text-3xl my-3">
    <h1>History</h1>
</div>
<div class="relative">
    <div class="h-48 bg-gradient-to-b from-backgroundcolor to-transparent w-full absolute z-10"></div>
    <div class="flex flex-col">
        {% for key in keys reversed  %}
        <div class="rounded my-1 p-2 bg-backgroundgreen">
            {% if not key.isReturned %}
                {{ key.keyHolder }} took the key on {{ key.time }}
            </div>
            {% else %}
                The key was returned on {{ key.time }}
            </div>
            {% endif %}
            {% endfor %}
    </div>
</div>
{% endblock body %}