{% extends 'keyTracker/components/main.html' %}

{% block body %}

<div class="underline"><a href="/">Back</a></div>

<h1>History</h1>
<div class="flex flex-col">
    {% for key in keys %}
    <div class="rounded my-1 p-2 bg-backgroundgreen"> 
        {% if not key.isReturned %}
        {{ key.keyHolder_id }}. {{ key.keyHolder }} took the key on {{ key.time }}</div>
        {% else %}
        
        The key was returned on {{ key.time }}</div>
        {% endif %}
        {% endfor %}
</div>      
        {% endblock body %}