<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <script src="https://cdn.tailwindcss.com"></script> {% endcomment %}
  </head>
  <body>
    {% comment %} <h1 class="text-3xl font-bold underline"> {% endcomment %}
      {% comment %} Hello world! {% endcomment %}
    {% comment %} </h1> {% endcomment %}


<h2>remove me </h2>
<div><a href="login">login</a></div>
<div><a href="register">register</a></div>
<div><a href="logout">logout</a></div>

<br>

<div><a href="history">logo</a></div>
<br>


{% if lastKey.isReturned %}
<div>key is returned</div>
{% else %}
<div>{{lastKey.keyHolder}} has the key</div> 
{% endif %}
<br>
<br>
<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
        <button type="submit" name="taken">I took the key!</button>
        <button type="submit" name="returned">I returned key!</button>
    </form>
{% comment %} <div><button>I took the key!</button></div> {% endcomment %}