{% extends 'keyTracker/components/main.html' %}

{% block body %}
{% include 'keyTracker/components/nav.html' with link="dashboard" %}
<div class="flex flex-col  place-items-center">
  <div class="border-b-2 border-brownsugar h-96 w-96 m-10">
    {% load static %}
    <a href="history"><img src="{% static 'keyTracker/assets/logo.svg' %}" alt=""></a>
  </div>
  <br>  
  
  {% if lastKey.isReturned %}
  <div class="text-4xl">The key is returned</div>
  {% else %}
    {% if lastKey.keyHolder_id is user.id %}
    <div class="text-4xl"><span class="text-maingreen font-bold">You</span> have the key</div> 

    {% else %}
      <div class="text-4xl"><span class="text-maingreen font-bold">{{lastKey.keyHolder}}</span> has the key</div> 
    {% endif %}
  {% endif %}
  <br>
  <br>
  <form method="POST">
    <div class="flex flex-col space-y-4">
      {% csrf_token %}
      {{form.as_div}}

      {% comment %} if you have the key {% endcomment %}
      {% if lastKey.keyHolder_id is user.id and not lastKey.isReturned %}
        
      <div>
        {% comment %}This button has no submit because you don't need to take the key if you already have it{% endcomment %}
        {% comment %} readded for testing 30/11/22 {% endcomment %}
        <button class="bg-darkgreen font-bold py-2 px-6 rounded w-max"  name="taken" type="submit">I took the key!</button>
      </div>

      {% else %}
      
      <div>
        <button class="bg-maingreen hover:bg-accentgreen drop-shadow-md font-bold py-2 px-6  rounded w-max" type="submit" name="taken">I took the key!</button>
      </div>
      
      {% endif %}
      {% if lastKey.isReturned %}
      
      <div>
        <button class="bg-darkgreen font-bold py-2 px-6 rounded w-max" type="submit" name="returned">I returned key!</button>
      </div>

      {% else %}

      <div>
        <button class="bg-maingreen hover:bg-accentgreen font-bold py-2 px-6 rounded w-max" type="submit" name="returned">I returned key!</button>
      </div>
      {% endif %}

    </div>
  </form>
</div>
{% endblock body %}