{% extends 'keyTracker/components/main.html' %}


{% block body %}
{% load static %}

<div class="grid grid-cols-1 gap-4 mx-auto h-screen w-screen">

    <div class="grid grid-cols-1 gap-4 mx-auto py-8">

        <div class="">
            <img class="h-48 overflow-visible" src="{% static 'keyTracker/assets/logo.svg' %}" alt="">
        </div>

        <div class="row-span-6">
            <p class="text-center text-5xl text-maingreen font-thin">Kiwi</p>
        </div>

        <div class="flex">
            <div class="mx-auto mt-auto ">
                <a href="{% url 'social:begin' 'github' %}">
                <img src="{% static 'keyTracker/assets/githubLogo.png' %}" alt="">
                <p class="underline text-center my-4">Login with GitHub</p>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}