{% extends 'keyTracker/components/main.html' %}

{% block body %}
SHOULD NEVER BE VISIBLE, REMOVE LATER
<div class="container flex flex-col place-items-center h-screen">
    <form method="POST" class="space-y-3 flex flex-col place-items-center">
    {% csrf_token %}
    {{form.as_p}}
        <button class="bg-maingreen hover:bg-accentgreen drop-shadow-md font-bold py-2 px-6  rounded w-max"type="submit">Login</button>
    </form>
    <div class="py-4"> 
        Don't have an account? <a href="/register" target="blank"><strong>register here!</strong></a>
    </div>
</div>
{% endblock body %}